<!DOCTYPE html>
<html>
<head>
	<title>Cake Exploria</title>
    <style>
        .main-container{
            display: inline-block;
        }
    </style>
</head>
<body>
<div class="container">
	<h1>Cake Exploria</h1>
		<div class="main-container">
			<div class="product">
				<div class="product-info">
                    <img src="https://drive.google.com/file/d/11p_lViwDAP2SoA2lDN-My_L9gFxXebk3/view?usp=sharing" width="125px" height="125px">
                    <h3 class="product-name">Black Forest Cake</h3>
                    <h4 class="product-price">₹ 300</h4>
                    <p class="product-quantity">Qnt: <input value="1" name="">
                    <p class="product-remove">
                        <span class="remove">Remove</span>
                    </p>
				</div>
			</div>
			<div class="product">
				<img src="Choco lava.jpg">
				<div class="product-info">
					<h3 class="product-name">Choco lava Cake</h3>
					<h4 class="product-price">₹ 450</h4>
					<p class="product-quantity">Qnt: <input value="1" name="">
					<p class="product-remove">
						<i class="fa fa-trash" aria-hidden="true"></i>
						<span class="remove">Remove</span>
					</p>
				</div>
			</div>
		</div>
        <div class="product">
            <img src="/assets/Dairy Milk Silk.jpg" width="100px" height="100px" alt = "dairy milk img">
            <div class="product-info">
                <h3 class="product-name">Dairy Milk Silk</h3>
                <h4 class="product-price">₹ 80</h4>
                <p class="product-quantity">Qnt: <input value="1" name="">
                <p class="product-remove">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                    <span class="remove">Remove</span>
                </p>
            </div>
        </div>
    </div>
    <div class="product">
        <img src="Ferrero Rocher.jpg">
        <div class="product-info">
            <h3 class="product-name">Ferrero Rocher Cake</h3>
            <h4 class="product-price">₹ 550</h4>
            <p class="product-quantity">Qnt: <input value="1" name="">
            <p class="product-remove">
                <i class="fa fa-trash" aria-hidden="true"></i>
                <span class="remove">Remove</span>
            </p>
        </div>
    </div>
</div>
<div class="product">
    <img src="Nutty Truffle.jpg">
    <div class="product-info">
        <h3 class="product-name">Nutty Truffle Cake</h3>
        <h4 class="product-price">₹ 500</h4>
        <p class="product-quantity">Qnt: <input value="1" name="">
        <p class="product-remove">
            <i class="fa fa-trash" aria-hidden="true"></i>
            <span class="remove">Remove</span>
        </p>
    </div>
</div>
</div>
    <div class="product">
        <img src="Red Velvet.jpg">
        <div class="product-info">
            <h3 class="product-name">Red Velvet Cake</h3>
            <h4 class="product-price">₹ 400</h4>
            <p class="product-quantity">Qnt: <input value="1" name="">
            <p class="product-remove">
                <i class="fa fa-trash" aria-hidden="true"></i>
                <span class="remove">Remove</span>
            </p>
        </div>
    </div>
</div>
		<div class="cart-total">
			<p>
				<span>Total Price</span>
			</p>
			<p>
				<span>Number of Items</span>
			</p>
			<a href="#">Proceed to Checkout</a>
		</div>
	</div>
</div>
</body>
</html>

